body {
    background-color: blue;
}


hr {
    margin-right: 2px;
    color: black;
    margin-top: 3px;
}


a {
    text-decoration: none;
    color: black;
    font-size: medium;
}

img {
    height: 333px;
    width: 511px;
    image-rendering: optimizeQuality;  
}
.foto3 {
    height: 411px;
    width: 522px;
}
div{
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    gap: 5em;
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
    align-items: center;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    height: auto;
    text-align: center;
}

h1{
    margin-left: 20px;
    
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
    text-align: center;
    padding-top: 0.5%;
}

header {
    display: flex;
    text-align: right;
}

p {
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        color: aliceblue;
        text-align: justify;
        margin-left: 23px;
        margin-right: 23px;
}