p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

h2, h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
}